<p>
  Sample accounts provided as follows <b><i>(username/password)</i></b>:
  <ul>
    <li>admin/admin</li>
    <li>agent1/agent1</li>
    <li>agent2/agent2</li>
    <li>customer1/customer1</li>
    <li>customer2/customer2</li>
  </ul>

</p>

<ul>
  <% flash[:errors] && flash[:errors].each do |error| %>
    <li style="color:red"><%= error %></li>
  <% end %>
</ul>

<h1> Log in </h1>

<%= form_tag("/login", method: "post") do %>
  <%= label_tag(:username, "Username: ") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:password, "Password: ") %>
  <%= text_field_tag(:password) %>
  <%= submit_tag("Login") %>
<% end %>

<h1> Sign up </h1>

<%= form_tag("/users", method: "post") do %>
  <p>
    Account type:
    <%= radio_button_tag(:account_type, 'admin') %>
    <%= label_tag(:admin, 'Admin') %>
    <%= radio_button_tag(:account_type, 'agent') %>
    <%= label_tag(:agent, 'Agent') %>
    <%= radio_button_tag(:account_type, 'customer') %>
    <%= label_tag(:agent, 'Customer') %>
  </p>
  <p>
    <%= label_tag(:username, "Username: ") %>
    <%= text_field_tag(:username) %>
    <%= label_tag(:password, "Password: ") %>
    <%= text_field_tag(:password) %>
    <%= submit_tag("Signup") %>
  </p>
<% end %>
